
<div class="background d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-body d-flex align-items-center">
          <div class="img-container w-50">
              <img class="w-100" src='../../assets/images/santander.png'>
          </div>
          <div class="col-11 align-items-center">
              <form #form='ngForm' [formGroup]="registerForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Juan Carlos Perez"
                    [ngClass]="{'is-invalid': isInvalid('name') }">
                    <div id="name" class="invalid-feedback">
                        No es un nombre valido.
                    </div>
                </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com"
                      formControlName="email" [ngClass]="{'is-invalid': isInvalid('email') }">
                      <div id="email" class="invalid-feedback">
                          No es un email valido.
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input class="form-control" type="password" id="password" placeholder="Password"
                      formControlName="password" [ngClass]="{'is-invalid': isInvalid('password') }">
                      <div id="password" class="invalid-feedback">
                          No es una password valida.
                      </div>
                  </div>
                  <div class="mb-3 d-flex justify-content-center">
                      <div class="col">
                          <button type="submit" [disabled]='registerForm.invalid' (click)='submit()' class="btn btn-danger">Registrate</button>
                      </div>
                      <div class="col d-flex align-items-center">
                          <span>Ya tenes cuenta? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Inicia sesion</a></span>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>